.header {
  background-color: #CCE5FF;
  width: 100%;
  position: -webkit-sticky; 
  position: sticky;
  height: 90px;
  top: 0;
  z-index: 1000; 
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  max-width: 70%;
  margin: 0 auto; 
}

.logo-container {
  display: flex;
  align-content: center;
  align-items: center;
}

.logo {
  width: 50px;
  height: auto;
}

.title {
  margin-left: 10px;
  font-weight: bold;
}

.nav-container {
  height: 100%; /* Ensure nav container takes full height of header */
  display: flex;
  align-items: center;
}

nav {
  height: 100%; /* Ensure nav takes full height of nav-container */
  display: flex;
  align-content: center;
  align-items: center;
}

nav ul {
  list-style: none;
  height: 100%; /* Set height of ul to 100% of nav */
  display: flex;
  align-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

nav ul li {
  font-weight: bold;
  padding: 12.5px 0; 
  height: 65px;
  display: flex;
  align-content: center;
  align-items: center;
}

nav ul li.active  {
  box-shadow:inset 0px -3px 30px -3px #9ECEFF;
}

nav ul li:hover {
  background-color: #9ECEFF; 
}

nav ul li a {
  text-decoration: none; 
  color: black;
  display: flex; /* Use flexbox for dynamic height */
  align-items: center; /* Center align items vertically */
  padding: 0 10px; /* Adjust padding for horizontal spacing */
  position: relative; /* Position relative for absolute positioning of indicator */
}

.indicator {
  position: absolute;
  bottom: -3px;
  left: 0;
  height: 3px;
  width: calc(100% / 3);
  background-color: transparent;
  transition: background-color 0.3s;
}

.indicator.collection {
  left: calc(100% / 3);
}

.indicator.archive {
  left: 0;
}
