.pokemon-list-container {
  width: 100%;
  margin: 0 auto;
  background-color: rgba(204, 229, 255, 0.3);
  position: relative;
}

.back-to-top {
  position: fixed;
  bottom: -3vh;
  right: 10vw; /* Position it 20px from the right edge */
  display: none; /* Initially hidden */
  cursor: pointer;
  transition: transform 0.5s ease; /* Smooth transition */
  z-index: 1000; /* Ensure it's above other content */
}

.back-to-top.active {
  display: block; /* Show when active */
}

.back-to-top img {
  width: 30px; /* Adjust size as needed */
  height: auto;
  transform: translateY(0); /* Default position */
  transition: transform 0.5s ease; /* Smooth transition */
  padding: 1rem;
  border-radius: 1rem;
  background-color: #CCE5FF;
}

.back-to-top.flipped img {
  transform: translateY(-100%) rotate(180deg); /* Flipped vertically and rotated */
}

  .controls {
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }
  .searchbar {
    background-color: #CCE5FF; 
    width: 200px; 
    height: 30px; 
    border: none; 
    border-radius: 5px; 
    padding: 5px; 
  }
  
  .searchbar input[type="text"] {
    width: 100%; 
    height: 100%; 
    background-color: transparent; 
    border: none; 
    outline: none;
  }
  
  .searchbar input[type="text"]::placeholder {
    color: rgba(0, 0, 0, 0.5);
  }
  .filter-select {
    background-color: #CCE5FF; 
    border: none;
    border-radius: 5px; 
    padding: 10px; 
    width: 150px; 
    height: 40px; 
    appearance: none; /* Hides the default arrow */
    -webkit-appearance: none; /* Hides the default arrow in Safari */
    -moz-appearance: none; /* Hides the default arrow in Firefox */
    background-image: url('../images/down-arrow.svg'); /* Path to the custom arrow icon */
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 16px;
  }
  
  .filter-select option {
    background-color: #CCE5FF; 
    color: black; 
  }
  
  .filter-select:focus {
    outline: none; 
  }
  
  
  .order-by {
    display: flex;
    align-items: center;
  }
  
  .order-by span {
    margin: 10px;
  }
  
  .sort-button {
    background-color: #CCE5FF; 
    border: none;
    border-radius: 5px; 
    padding: 10px; 
    width: 100px; 
    height: 40px; 
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
  }
  
  .sort-button img {
    width: 12px; /* Adjust size as needed */
    transition: transform 0.3s;
  }
  
  .sort-button.asc img {
    transform: rotate(180deg);
  }
  
  .pokemon-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin: 0; 
  }
  
  .pokemon-card {
    flex: 0 0 auto; 
    margin: 0; 
  }
  
  .pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  button {
    margin: 0 5px;
  }
  