.pokemon-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  width: 23%;  /* Adjust the width to fit 4 cards per row with gaps */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.2s ease-out, filter 0.2s ease-out; /* Added filter transition for color effect */
  box-sizing: border-box;  /* Ensure padding is included in the width */
  overflow: hidden; /* Ensure no overflow of transformed content */
  filter: grayscale(100%); /* Start with grayscale effect */
}

.pokemon-card:hover {
  transform: scale(1.05);
}

.pokemon-card img {
  width: 100%;
  height: auto;
  display: block;
  margin-bottom: 10px;
  border-radius: 8px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.pokemon-card.collected {
  filter: grayscale(0%); /* Remove grayscale effect when collected */

}

.pokemon-card h3 {
  font-size: 1.2em;
  text-align: center;
}
